<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- namespace必须指向Dao接口 -->
<mapper namespace="com.rocoinfo.repository.task.TaskDistributeDao">
    <resultMap id="taskDistributeResultMap" type="com.rocoinfo.entity.task.TaskDistribute">
        <id column="id" property="id"/>
        <result column="task_no" property="taskNo"/>
        <result column="customer_no" property="customerNo"/>
    </resultMap>

    <resultMap id="BaseResultMap" type="com.rocoinfo.entity.task.TaskDistribute">
        <id column="id" property="id"/>
        <result column="task_no" property="taskNo"/>
        <result column="customer_no" property="customerNo"/>
        <result column="invitation_code" property="invitationCode"/>
        <result column="mechandiser" property="mechandiser"/>
        <result column="distribute_status" property="distributeStatus"/>
        <result column="store" property="store"/>
        <result column="call_time" property="callTime"/>
        <result column="data_source" property="dataSource"/>
        <result column="promote_source" property="promoteSource"/>
        <result column="distribute_model" property="distributeModel"/>
        <result column="type" property="type"/>
        <result column="status" property="status"/>
        <result column="task_tag" property="taskTag"/>
        <result column="task_level" property="taskLevel"/>
        <result column="distribute_time" property="distributeTime"/>
        <result column="customer_mobile" property="customerMobile"/>
        <result column="customer_name" property="customerName"/>
        <result column="dic_name" property="storeName"/>
        <result column="promte_name" property="promoteSourceName"/>
        <result column="creator" property="creator"/>
        <result column="create_time" property="createTime"/>
        <result column="emp_name" property="empName"/>
        <result column="is_shop" property="isShop"/>
        <result column="remark" property="remark"/>
        <!-- 派发方式 -->
        <result column="distribute_model" property="distributeModel"/>
        <result column="time" property="communicateTime"/>
        <!--推荐人 姓名/手机号/id-->
        <result column="introducer" property="introducer"/>
        <result column="introducerTel" property="introducerTel"/>
        <result column="introducer_id" property="introducerId"/>

        <!--客户当前状态: 来自客户任轨迹 当前状态-->
        <result column="current_status" property="currentStatus"/>

    </resultMap>
    <resultMap id="reportMap" type="com.rocoinfo.entity.task.TaskDistribute" extends="BaseResultMap">
        <result column="data_source_name" property="dataSourceName"/>
        <result column="promote_source_name" property="promoteSourceName"/>
        <collection property="communicateList" ofType="com.rocoinfo.entity.customer.Communicate">
            <result column="communicate_mode" property="communicateMode"/>
            <result column="communicate_type" property="communicateType"/>
            <result column="communicate_time" property="createTime"/>
        </collection>
        <collection property="syncOrderInfoList" ofType="com.rocoinfo.entity.order.SyncOrderInfo">
            <result column="deposit_finish" property="depositFinish"/>
            <result column="deposit_amount" property="depositAmount"/>
            <result column="deposit_time" property="depositTime"/>
            <result column="order_closed" property="orderClosed"/>
            <result column="order_num" property="orderNum"/>
            <result column="order_time" property="createTime"/>
            <result column="order_close_time" property="orderCloseTime"/>
        </collection>
    </resultMap>

    <sql id="SelectInfo">
    	id,task_no,customer_no,invitation_code,mechandiser,store,data_source,promote_source,type,
    	task_tag,task_level,distribute_time,create_time,remark
    </sql>

    <!--未派发/已派发/任务列表-->
    <select id="search" resultMap="BaseResultMap">
        SELECT DISTINCT
        ctd.distribute_status,
        ctd.call_time,
        ctd.status,
        ctd.id,
        ctd.task_no,
        ctd.customer_no,
        ctd.invitation_code,
        ctd.mechandiser,
        ctd.store,
        ctd.data_source,
        ctd.promote_source,
        ctd.type,
        ctd.task_tag,
        ctd.task_level,
        ctd.distribute_time,
        ctd.create_time,
        ctd.distribute_model,
        cu.customer_mobile,
        cu.customer_name,
        cd.dic_name,
        cdprom.dic_name as promte_name,
        ce.emp_name,
        CASE
        cctr.current_status
        WHEN 'TALKING'
        THEN 'true'
        WHEN 'TALKSUCCESS'
        THEN 'true'
        ELSE 'false'
        END AS isShop
        ,c_communite.time,
        CASE
        WHEN emp.emp_name IS NULL THEN '系统'
        ELSE emp.emp_name
        END creator
        FROM
        crm_task_distribute ctd
        JOIN crm_customer cu ON ctd.customer_no = cu.customer_no
        LEFT JOIN crm_dictionary cd ON ctd.store = cd.dic_code
        LEFT JOIN crm_dictionary cdprom on ctd.promote_source = cdprom.dic_code
        LEFT JOIN crm_employee ce ON ce.job_num=ctd.mechandiser
        LEFT JOIN crm_employee emp ON emp.id = ctd.creator
        LEFT JOIN (select * from crm_custome_task_rmk where new_flag='1') cctr ON cctr.task_no=ctd.task_no
        left join (select task_no, max(create_time) time from crm_communicate group by task_no) c_communite on
        ctd.task_no = c_communite.task_no

        WHERE
        1 = 1 AND ctd.store=#{storeCode} AND ctd.type='INVITATION'

        <if test="keyword != null and keyword != ''">
            AND (
            cu.customer_name LIKE CONCAT('%', #{keyword}, '%')
            OR cu.customer_mobile= #{keyword}
            OR ctd.invitation_code= #{keyword}
            )
        </if>

        <if test="mechandiser != null and mechandiser != ''">
            AND ce.emp_name LIKE CONCAT('%', #{mechandiser}, '%')
        </if>

        <if test="dataSourceCode != null">
            AND ctd.data_source=#{dataSourceCode}
        </if>

        <if test="distributeStatus != null and distributeStatus != ''">
            AND ctd.distribute_status = #{distributeStatus}
        </if>
        <if test="status != null and status != ''">
            AND ctd.status= #{status}
        </if>
        <if test="status != null and status != ''">
            AND ctd.status= #{status}
        </if>
        <if test="promoteSource != null and promoteSource != ''">
            AND ctd.promote_source= #{promoteSource}
        </if>

        <if test="startDate != null and endDate != null">
            AND DATE (ctd.create_time) &gt;= #{startDate}
            AND DATE (ctd.create_time) &lt;= #{endDate}
        </if>
        <if test="taskStatus != null and taskStatus != ''">
            AND ctd.status = #{taskStatus}
        </if>
        <if test="sort != null">
            ORDER BY
            <foreach collection="sort" item="order" separator=",">
                ${order.property} ${order.direction}
            </foreach>
        </if>
    </select>

    <!--后台任务列表:查询该客户下的所有任务-->
    <select id="findTaskByCustomerNo" parameterType="Map" resultMap="BaseResultMap">
        SELECT
        task.id, task.task_no, task.customer_no, task.invitation_code, task.store,
        task.data_source, task.type, task.task_tag, task.task_level,
        task.distribute_time, task.distribute_model, task.create_time, emp.emp_name mechandiser,
        dic.dic_name promote_source, task.distribute_status, task.status
        FROM
        crm_task_distribute task
        LEFT JOIN crm_employee emp
        ON emp.job_num = task.mechandiser
        LEFT JOIN crm_dictionary dic
        ON dic.dic_code = task.promote_source
        WHERE task.customer_no = #{customerNo}
        <if test="sort != null">
            ORDER BY
            <foreach collection="sort" item="order" separator=",">
                ${order.property} ${order.direction}
            </foreach>
        </if>
    </select>

    <update id="update">
        UPDATE crm_task_distribute
        <set>
            <if test="invitationCode != null and invitationCode!=''">
                invitation_code = #{invitationCode},
            </if>
            <if test="callTime != null and callTime!=''">
                call_time = #{callTime},
            </if>
            <if test="mechandiser != null and mechandiser!=''">
                mechandiser = #{mechandiser},
            </if>
            <if test="store != null and store!=''">
                store = #{store},
            </if>
            <if test="dataSource != null and dataSource!=''">
                data_source = #{dataSource},
            </if>
            <if test="promoteSource != null and promoteSource!=''">
                promote_source = #{promoteSource},
            </if>
            <if test="type != null and type!=''">
                type = #{type},
            </if>
            <if test="taskTag != null and taskTag!=''">
                task_tag = #{taskTag},
            </if>
            <if test="taskLevel != null and taskLevel!=''">
                task_level = #{taskLevel},
            </if>
            <if test="distributeStatus != null and distributeStatus!=''">
                distribute_status = #{distributeStatus},
            </if>
            <if test="status != null and status!=''">
                status = #{status},
            </if>
            <if test="distributeTime != null and distributeTime!=''">
                distribute_time = #{distributeTime},
            </if>
            <if test="createTime != null and createTime!=''">
                create_time = #{createTime}
            </if>
            <if test="remark != null and remark!=''">
                remark = #{remark}
            </if>
        </set>
        WHERE
        <if test="id!=null and id!=''">
            id = #{id}
        </if>
        <if test="taskNo!=null and taskNo!=''">
            task_no = #{taskNo}
        </if>

    </update>
    <select id="getById" resultMap="BaseResultMap">
        SELECT
        <include refid="SelectInfo"/>
        FROM crm_task_distribute
        WHERE id=#{id}
    </select>


    <update id="updateByIdOrTaskNo" parameterType="TaskDistribute">
        UPDATE crm_task_distribute
        <set>
            <if test="invitationCode != null and invitationCode!=''">
                invitation_code = #{invitationCode},
            </if>
            <if test="callTime != null and callTime!=''">
                call_time = #{callTime},
            </if>
            <if test="mechandiser != null and mechandiser!=''">
                mechandiser = #{mechandiser},
            </if>
            <if test="store != null and store!=''">
                store = #{store},
            </if>
            <if test="dataSource != null and dataSource!=''">
                data_source = #{dataSource},
            </if>
            <if test="promoteSource != null and promoteSource!=''">
                promote_source = #{promoteSource},
            </if>
            <if test="type != null and type!=''">
                type = #{type},
            </if>
            <if test="taskTag != null and taskTag!=''">
                task_tag = #{taskTag},
            </if>
            <if test="taskLevel != null and taskLevel!=''">
                task_level = #{taskLevel},
            </if>
            <if test="distributeStatus != null and distributeStatus!=''">
                distribute_status = #{distributeStatus},
            </if>
            <if test="status != null and status!=''">
                status = #{status},
            </if>
            <if test="distributeModel != null and distributeModel != ''">
                distribute_model = #{distributeModel},
            </if>
            <if test="distributeTime != null and distributeTime!=''">
                distribute_time = #{distributeTime},
            </if>
            <if test="createTime != null and createTime!=''">
                create_time = #{createTime}
            </if>
        </set>
        where id = #{id} or task_no = #{taskNo}
    </update>

    <!--

    我的客户 新客户列表数据-->
    <select id="getCustomersTask" resultType="map">
        select tt.* from
        (select crd.id, crd.task_no as taskNo
        , cu.customer_no as customerNo, cu.customer_name as customerName, cu.customer_mobile as customerMobile, cu.id as
        customerId
        , cctr.current_status as currentStatus, date_format(crd.distribute_time, '%Y-%m-%d %T') as distributeTime
        , cc.remark
        from crm_task_distribute crd
        inner join crm_custome_task_rmk cctr on crd.task_no = cctr.task_no
        left join crm_customer cu on crd.customer_no = cu.customer_no
        left join crm_communicate cc on crd.task_no = cc.task_no
        where crd.mechandiser = #{mechandiser} and crd.distribute_status = 'Y' and crd.status = '1' and cctr.new_flag =
        1
        and cctr.current_status in
        <foreach collection="status" item="statu" separator="," open="(" close=")">
            #{statu}
        </foreach>
        <if test="keywork != null and keywork != ''">
            and (cu.customer_name LIKE concat(#{keywork}, '%') or cu.customer_mobile LIKE concat(#{keywork}, '%'))
        </if>
        ) tt
        group by tt.customerNo
        order by tt.distributeTime
    </select>

    <!--我的客户 新客户列表数据-->
    <select id="getCustomersTaskForPage" resultType="map">
        select tt.* from
        (select crd.id, crd.task_no as taskNo, crd.task_level as taskLevel
        , cu.customer_no as customerNo, cu.customer_name as customerName, cu.customer_mobile as customerMobile, cu.id as
        customerId, cu.customer_idinord as customerIdinord
        <if test="type == 0">
            , cctr.current_status as currentStatus
        </if>
        <if test="type == 1">
            ,case co.currentStatus
            WHEN 1 then 'LARGESET'
            else 'SMALLSET'
            END currentStatus
        </if>
        , date_format(crd.distribute_time, '%Y-%m-%d %T') as distributeTime
        , cc.remark
        from crm_task_distribute crd
        inner join crm_custome_task_rmk cctr on crd.task_no = cctr.task_no
        left join crm_customer cu on crd.customer_no = cu.customer_no
        left join (select task_no, max(id) id from crm_communicate group by task_no) c_com on crd.task_no =
        c_com.task_no
        LEFT JOIN crm_communicate cc ON c_com.id = cc.id
        <if test="type == 1">
            left join (select task_no, min(deposit_finish) currentStatus from crm_orderinfo
            group by task_no) co on co.task_no = crd.task_no
        </if>
        where crd.mechandiser = #{mechandiser} and crd.distribute_status = 'Y' and crd.status = '1' and cctr.new_flag =
        1
        and cctr.current_status in
        <foreach collection="status" item="statu" separator="," open="(" close=")">
            #{statu}
        </foreach>
        <if test="keywork != null and keywork != ''">
            and (cu.customer_name LIKE concat(#{keywork}, '%') or cu.customer_mobile LIKE concat(#{keywork}, '%'))
        </if>
        ) tt
        group by tt.customerNo
        order by tt.distributeTime DESC
    </select>

    <select id="findTaskByType" resultMap="BaseResultMap">
        select
        <include refid="SelectInfo"/>
        from crm_task_distribute where type=#{taskTypeStatus} and store is not null and store !='' and data_source is
        not null and task_no is not null and customer_no is not null and distribute_status = "N" and status = '1' and
        distribute_model='SYSTEM'
    </select>


    <!-- 查询某段时间内客户生成的任务List -->
    <select id="queryCustomerTaskCreateInPeroud" resultMap="BaseResultMap">
        select
        <include refid="SelectInfo"/>
        from crm_task_distribute where customer_no = #{customerNo} and store=#{storeCode}
        and TIMESTAMPDIFF(SECOND,create_time,now()) &lt; #{repeatSecCD}
    </select>


    <!-- 查询某段时间内客户生成的任务List -->
    <select id="queryTaskCreateInPeroudByPhoneAndDS" resultMap="BaseResultMap">
        select t.id,t.task_no,t.customer_no,t.invitation_code,t.mechandiser,t.store,t.data_source,t.promote_source,
        t.type,t.task_tag,t.task_level,t.distribute_time,t.create_time
        from crm_task_distribute t left join crm_customer c on t.customer_no = c.customer_no 
         where c.customer_mobile = #{phoneNum} and TIMESTAMPDIFF(SECOND,t.create_time,now()) &lt; #{repeatSecCD}
         and data_source=#{dataSource}
    </select>

    <select id="recentContact" resultType="map">
        select
        cc.customer_no as customerNo, cc.task_no as taskNo, cc.remark, date_format(cc.create_time, '%Y-%m-%d %T') AS createTime, cu.customer_name as customerName, cu.customer_mobile as customerMobile, cctr.current_status as currentStatus
        from
        crm_communicate cc
        left join crm_customer cu on cc.customer_no = cu.customer_no
        left join crm_custome_task_rmk cctr on cc.task_no = cctr.task_no
        where cc.create_user = #{userId} and cctr.new_flag = 1
        order by cc.create_time desc limit 0, 10;
    </select>

    <!-- 批量插入新任务 -->
    <insert id="insertNewTaskBatch">
        insert into crm_task_distribute(task_no,customer_no,invitation_code,call_time,call_answered,mechandiser,
        store,data_source,promote_source,type,task_tag,task_level,distribute_status,status,distribute_model,
        distribute_time,create_time,creator,introducer,introducer_tel,introducer_id,remark) values
        <foreach collection="newTaskList" index="idx" item="newTask" separator=",">
            (#{newTask.taskNo},#{newTask.customerNo},#{newTask.invitationCode},#{newTask.callTime},#{newTask.callAnswered},
            #{newTask.mechandiser},#{newTask.store},#{newTask.dataSource},#{newTask.promoteSource},#{newTask.type},
            #{newTask.taskTag},#{newTask.taskLevel},#{newTask.distributeStatus},#{newTask.status},#{newTask.distributeModel},
            #{newTask.distributeTime},#{newTask.createTime},#{newTask.creator},#{newTask.introducer},#{newTask.introducerTel},
            #{newTask.introducerId},#{newTask.remark})
        </foreach>
    </insert>

    <select id="countEmployeeOrderNum" resultType="int">
    	select count(*) as orderNum from crm_task_distribute where mechandiser=#{mechandiser}
    		and distribute_time like CONCAT(#{currentDate},'%')
    </select>
    <select id="getDistributeTaskByTaskNo" resultMap="BaseResultMap">
        SELECT
        <include refid="SelectInfo"/>
        FROM crm_task_distribute
        WHERE task_no=#{taskNo}
    </select>

    <select id="getCustomerByTaskNo" resultType="map">
    	select cc.id,cc.customer_no,cc.customer_name,cc.customer_mobile from crm_task_distribute ctd 
    		left join crm_customer cc on ctd.customer_no=cc.customer_no
    	where ctd.task_no = #{taskNo}
    </select>

    <!-- 带条件的导出  -->
    <select id="findExportTaskDistribute" resultMap="BaseResultMap" parameterType="map">
        SELECT DISTINCT cust.customer_name, cust.customer_mobile, task.customer_no, task.create_time
        FROM crm_task_distribute task
        INNER JOIN crm_customer cust
        ON cust.customer_no = task.customer_no

        <where>
            task.store = #{storeCode} AND task.data_source = #{dataSourceCode}
            AND task.type='INVITATION'
            <if test="distributeStatus != null">
                AND task.distribute_status = #{distributeStatus}
            </if>
            <if test="keyword != null">
                AND (
                cust.customer_name LIKE CONCAT('%', #{keyword}, '%')
                OR cust.customer_mobile= #{keyword}
                OR task.invitation_code= #{keyword}
                )
            </if>
            <if test="startDate != null and endDate != null">
                AND task.create_time &gt;= #{startDate}
                AND task.create_time &lt;= #{endDate}
            </if>
            <if test="status != null and status != null">
                AND task.status = #{status}
            </if>
            <if test="promoteSource != null and promoteSource != null">
                AND task.promote_source = #{promoteSource}
            </if>
            ORDER BY create_time DESC
        </where>
    </select>

    <select id="findCustomerIdInOrdByTaskNo" resultType="string">
        SELECT cu.customer_idinord
        FROM crm_task_distribute ctd
        INNER JOIN crm_customer cu on ctd.customer_no = cu.customer_no
        WHERE ctd.task_no = #{taskNo}
    </select>


    <select id="findCustomerNameAndPhone" resultType="map">
        SELECT
            cu.customer_name AS name,
            cu.customer_mobile AS mobile,
            ctd.create_time AS createTime
        FROM
            crm_task_distribute ctd
        INNER JOIN crm_customer cu ON ctd.customer_no = cu.customer_no
        WHERE ctd.task_no = #{taskNo}
    </select>

    <select id="countReportSourceOrChannel" resultType="com.rocoinfo.entity.task.Report">
        SELECT
        <if test="flag==&quot;Y&quot;">
            cds.source_name AS sourceName,
            cds.source_code AS sourceCode
        </if>
        <if test="flag==&quot;N&quot;">
            cd.dic_name AS promoteName,
            cd.dic_code AS promoteCode
        </if>
        FROM
        crm_task_distribute ctd
        <if test="flag==&quot;Y&quot;">
            LEFT JOIN crm_data_source cds
            ON ctd.data_source=cds.source_code
        </if>
        <if test="flag==&quot;N&quot;">
            LEFT JOIN crm_dictionary cd
            ON ctd.promote_source=cd.dic_code
        </if>
        WHERE
        ctd.type = 'INVITATION'
        AND DATE_FORMAT(ctd.create_time, '%Y-%m-%d') &gt;= #{startDate}
        AND DATE_FORMAT(ctd.create_time, '%Y-%m-%d') &lt;= #{endDate}
        AND ctd.store = #{storeCode}
        AND ctd.status='1'
        <if test="sourceCode!=null and sourceCode!=''">
            AND ctd.data_source = #{sourceCode}
        </if>
        <if test="promoteSource!=null and promoteSource!=''">
            AND ctd.promote_source = #{promoteSource}
        </if>
    </select>

    <select id="countInshop" resultType="long">
        SELECT
        count(DISTINCT ctd.task_no)
        FROM
        crm_task_distribute ctd
        JOIN crm_custome_task_rmk cutr ON ctd.task_no = cutr.task_no
        WHERE
        cutr.current_status = 'INTOSHOP'
        AND ctd.type = 'INVITATION'
        AND DATE_FORMAT(cutr.create_time, '%Y-%m-%d') &gt;= #{startDate}
        AND DATE_FORMAT(cutr.create_time, '%Y-%m-%d') &lt;= #{endDate}
        AND ctd.store = #{storeCode}
        AND ctd.status='1'
        <if test="sourceCode!=null and sourceCode!=''">
            AND ctd.data_source = #{sourceCode}
        </if>
        <if test="promoteSource!=null and promoteSource!=''">
            AND ctd.promote_source = #{promoteSource}
        </if>

    </select>

    <!--通过推荐人id,去获取该推荐人下 所有的任务列表-->
    <select id="findTaskByIntroducerId" resultMap="BaseResultMap" parameterType="String">
        SELECT cust.customer_name, cust.customer_mobile,
		      task.create_time,
		    CASE rmk.current_status
                WHEN 'NEWCUSTOMER' THEN '待邀约'
                WHEN 'TALKING' THEN '邀约中'
                WHEN 'TALKSUCCESS' THEN '邀约成功'
                WHEN 'INTOSHOP' THEN '进店'
                WHEN 'ORDERSUCCESS' THEN '已生单'
                WHEN 'BACKORDER' THEN '退单'
                WHEN 'INVALID' THEN '无效'
                WHEN 'FREEZE' THEN '冻结'
		   END current_status
        FROM crm_task_distribute task
        LEFT JOIN crm_customer cust
        ON task.customer_no = cust.customer_no
        LEFT JOIN crm_custome_task_rmk rmk
        ON task.task_no = rmk.task_no
        WHERE task.introducer_id = #{introducerId}
    </select>

    <!-- 查询指定时间内转为指定状态的任务 -->
    <select id="selectTaskInfoWithState" parameterType="java.util.Map" resultType="java.util.Map">
        select c.customer_name as customerName,c.customer_mobile as cusMobile,tsr.create_time as happenTime,t.data_source,t.promote_source,t.distribute_model,t.distribute_status,t.distribute_time,
        t.mechandiser,t.invitation_code,t.store,t.status,t.task_tag,t.creator,t.create_time,t.introducer,t.introducer_id,t.introducer_tel from crm_task_distribute t
        LEFT JOIN crm_customer c on t.customer_no = c.customer_no
        LEFT JOIN crm_custome_task_rmk tsr on t.task_no = tsr.task_no
        where t.data_source=#{dataSource} and tsr.current_status = #{status} and tsr.create_time &gt;=#{startTime} and tsr.create_time &lt;=#{endTime}
    </select>

    <!-- 更新指定线索任务的状态 -->
    <update id="updateTaskStatus">
        UPDATE crm_task_distribute SET status=#{newStatus} WHERE task_no=#{taskNo}
    </update>

    <select id="findReportForCommunicateAndOrder" resultMap="reportMap">
        SELECT
        ctd.*, co.deposit_finish,
        co.deposit_amount,
        DATE_FORMAT(co.deposit_time, '%Y-%m-%d') AS deposit_time,
        co.order_closed,
        co.order_num,
        DATE_FORMAT(co.create_time, '%Y-%m-%d') AS order_time,
        DATE_FORMAT(co.order_close_time, '%Y-%m-%d') AS order_close_time,
        cc.communicate_mode,
        cc.communicate_type,
        DATE_FORMAT( cc.create_time, '%Y-%m-%d') AS communicate_time,
        cds.source_name AS data_source_name,
        cd.dic_name AS promote_source_name,
        emp.emp_name
        FROM
        crm_task_distribute ctd
        LEFT JOIN crm_orderinfo co ON co.task_no = ctd.task_no
        LEFT JOIN crm_communicate cc ON ctd.task_no = cc.task_no
        LEFT JOIN crm_data_source cds ON cds.source_code=ctd.data_source
        LEFT JOIN crm_dictionary cd ON cd.dic_code=ctd.promote_source
        LEFT JOIN crm_employee emp ON emp.job_num = ctd.mechandiser
        WHERE
        ctd.type = 'INVITATION'
        AND DATE_FORMAT(ctd.create_time, '%Y-%m-%d') &lt;= #{endDate}
        AND DATE_FORMAT(ctd.create_time, '%Y-%m-%d') &gt;= #{startDate}
        AND ctd.store = #{storeCode}
        <if test="sourceCode!=null and sourceCode!=''">
            AND ctd.data_source=#{sourceCode}
        </if>
        <if test="promoteSource!=null and promoteSource!=''">
            AND ctd.promote_source=#{promoteSource}
        </if>
    </select>

    <select id="countPersonCommunicate" resultType="java.lang.Long">
        SELECT
        COUNT(DISTINCT ctd.task_no)
        FROM
        crm_task_distribute ctd
        LEFT JOIN crm_custome_task_rmk cctr ON cctr.task_no = ctd.task_no
        WHERE
        ctd.mechandiser =#{jobNum}
        AND ctd.type = 'INVITATION'
        AND cctr.new_flag = '1'
        AND ctd.distribute_status = 'Y'
        AND ctd. STATUS = '1'
        <choose>
          <when test="type==&quot;1&quot;">
              AND cctr.current_status  IN ('NEWCUSTOMER')
              AND  DATE_FORMAT( cctr.create_time , '%Y-%m-%d')&lt;= #{date2}
          </when>
          <when test="type==&quot;2&quot;">
              AND cctr.current_status IN ('TALKING','TALKSUCCESS','INTOSHOP')
              AND  DATE_FORMAT( cctr.create_time , '%Y-%m-%d')&gt;= #{date1}
              AND  DATE_FORMAT( cctr.create_time , '%Y-%m-%d')&lt;= #{date2}
          </when>
          <when test="type==&quot;3&quot;">
              AND cctr.current_status IN ('INTOSHOP')
              AND  DATE_FORMAT( cctr.create_time , '%Y-%m-%d')&gt;= #{date1}
              AND  DATE_FORMAT( cctr.create_time , '%Y-%m-%d')&lt;= #{date2}
          </when>
      </choose>
    </select>
    <select id="countPersonCommunication" resultType="java.lang.Long">
        SELECT
        COUNT(DISTINCT ctd.task_no)
        FROM  crm_task_distribute ctd
        LEFT JOIN crm_communicate cc ON cc.task_no = ctd.task_no
        <where>
            <if test="type==&quot;2&quot;">
                AND  cc.communicate_mode='YY'
                AND  DATE_FORMAT( cc.create_time , '%Y-%m-%d')&gt;= #{date1}
                AND  DATE_FORMAT( cc.create_time , '%Y-%m-%d')&lt;= #{date2}
                AND cc.create_user=#{userId}
            </if>
            <if test="type==&quot;3&quot;">
                AND  cc.communicate_mode='JD'
                AND  DATE_FORMAT( cc.create_time , '%Y-%m-%d')&gt;= #{date1}
                AND  DATE_FORMAT( cc.create_time , '%Y-%m-%d')&lt;= #{date2}
                AND cc.create_user=#{userId}
            </if>

        </where>
    </select>
    <select id="countPersonOrderInfo" resultType="java.lang.Long">
        SELECT COUNT( DISTINCT cc.order_num) FROM  crm_task_distribute ctd LEFT JOIN crm_orderinfo cc ON cc.task_no=ctd.task_no
        WHERE ctd.mechandiser=#{jobNum}
        <choose>
            <when test="type==&quot;1&quot;">
                AND DATE_FORMAT(cc.deposit_time, '%Y-%m-%d')&gt;= #{date1}
                AND DATE_FORMAT(cc.deposit_time, '%Y-%m-%d')&lt;= #{date2}
                AND cc.deposit_finish='1'
            </when>
            <when test="type==&quot;2&quot;">
                AND DATE_FORMAT(cc.deposit_time, '%Y-%m-%d')&gt;= #{date1}
                AND DATE_FORMAT(cc.deposit_time, '%Y-%m-%d')&lt;= #{date2}
                AND (cc.deposit_finish='0' OR  cc.deposit_finish IS  NULL )
                AND cc.deposit_amount>0
            </when>
            <when test="type==&quot;3&quot;">
                AND DATE_FORMAT(cc.order_close_time, '%Y-%m-%d')&gt;= #{date1}
                AND DATE_FORMAT(cc.order_close_time, '%Y-%m-%d')&lt;= #{date2}
                AND cc.order_closed='1'
            </when>
        </choose>
    </select>
</mapper>
